<div class="shadow rounded overflow-hidden">
  <h2
    style="font-size: 1.3rem; font-weight: bold"
    class="heading mat-bg-accent p-3 text-start mb-0"
  >
    {{
      (user$ | async)?.id == authorQuestion.author.id
        ? "You Ask:"
        : authorQuestion.author.name + " Asks:"
    }}
  </h2>
  <div class="content row justify-content-between align-items-center p-3">
    <div class="avatar col-4">
      <img
        style="max-width: 100%"
        appImgPlaceholder
        [src]="authorQuestion.author.avatarURL"
      />
    </div>
    <div class="question-details col-8 text-start">
      <h3 style="font-size: 1.1rem; font-weight: bold" class="mt-0">
        Would you rather:
      </h3>
      <p>{{ authorQuestion.question.optionOne.text }}</p>
      <p>{{ authorQuestion.question.optionTwo.text }}</p>
      <button
        [routerLink]="['/questions', authorQuestion.question.id]"
        mat-raised-button
        color="primary"
        class="w-100"
      >
        View Poll
      </button>
    </div>
  </div>
</div>
